.txtLaranja {
  color: #0596cd;
}

.nav {
  color: #565656 !important;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  font-size: 24px;
}

.nav:hover {
  color: white !important;
  padding: 5px 6px;
  background-color: #0596cd !important;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px #313131;
}

.navMobile {
  color: black !important;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}

.active {
  color: white !important;
  padding: 5px 6px;
  background-color: #0596cd !important;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px #313131;
}
